.dashboard {
  margin: 20px;
  height: 100%;
}

.dashboard .label {
  font-size: 48px;
  text-align: center;
}

.dashboard .cards {
  justify-content: center;
  text-align: center;
  width: 25%;
  min-width: 250px;

  margin: 4%;
  display: inline-block;
  height: 20%;
  font-size: 20px;
  border: 1px solid black;
}

.dashboard .cards .mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
